.section-testimonials {
  padding: 60px 0;
  // padding: 140px 0;
  .heading {
    margin: 0 auto 110px;
  }
}

.testimonials {
  &__slide {
    display: flex;
    align-items: center;
    gap: 11px;
    background: var(--bg-card);
    padding: 55px 75px 55px 50px;
    border-radius: 14px;
  }
  &__info {
    padding-left: 29px;
    p {
      position: relative;
      font-size: 21px;
      &::before, &::after {
        content: '“';
        position: absolute;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 32px;
        color: #FD6F00;
      }
      &::before {
        left: -20px;
        top: -15px;
      }
      &::after {
        bottom: -28px;
      }
    }
    b {
      display: block;
      font-size: 24px;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      margin: 20px 0 5px;
    }
  }
}

// ------------------------------------------------ //

/* large desktop (up to 1400px) */
@media (max-width: 1400px) {}

/* medium desktop (up to 1200px) */
@media (max-width: 1200px) {
  .testimonials__slide img {
    max-width: 200px;
  }
}

/* small laptop (up to 992px) */
@media (max-width: 992px) {
  .testimonials__info p {
    font-size: 15px;
  }
  .testimonials__slide {
    padding: 30px;
  }
  .testimonials__slide img {
    max-width: 150px;
  }
  .testimonials__info p::before, .testimonials__info p::after {
    font-size: 20px;
  }
  .testimonials__info p::after {
    bottom: -20px;
  }
  .testimonials__info p::before {
    left: -10px;
    top: -13px;
  }
  .testimonials__info b {
    font-size: 18px;
  }
  .section-testimonials .heading {
    margin-bottom: 60px;
  }
}

/* tablet (up to 768px) */
@media (max-width: 768px) {
  .testimonials__slide {
    flex-direction: column;
  }
  .testimonials__info {
    padding-left: 10px;
  }
}

/* mobile (up to 480px) */
@media (max-width: 480px) {
  .testimonials__slide {
    padding: 25px 15px 15px;
  }
}