.section-services {
  padding: 60px 0;
}

.services {
  &__wrap {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 15px;
    background: var(--bg-card);
    border-radius: 14px;
    padding: 50px 20px;
    b {
      font-size: 32px;
      margin-top: 10px;
    }
    p {
      // font-size: 19px;
      font-size: clamp(0.7rem, 1vw + 0.5rem, 1rem);
    }
  }
}

// ------------------------------------------------ //

/* large desktop (up to 1400px) */
@media (max-width: 1400px) {
  .services__item b {
    font-size: 26px;
  }
}

/* medium desktop (up to 1200px) */
@media (max-width: 1200px) {}

/* small laptop (up to 992px) */
@media (max-width: 992px) {}

/* tablet (up to 768px) */
@media (max-width: 768px) {}

/* mobile (up to 480px) */
@media (max-width: 480px) {}