.section-hero {
  padding: 60px 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  &__info {
    max-width: 720px;
    width: 100%;
    p {
      margin-bottom: 22px;
    }
  }
  &__photo {
    max-width: 500px;
    width: 100%;
  }
  &__head {
    margin-bottom: 28px;
  }
  &__name {
    font-weight: 600;
    span {
      display: block;
      font-weight: 600;
      color: #FD6F00;
      margin-top: 6px;
    }
  }
  &__img {
    max-width: 500px;
    width: 100%;
  }
  &__btn {
    max-width: 188px;
    width: 100%;
  }
}

// ------------------------------------------------ //

/* large desktop (up to 1400px) */
@media (max-width: 1400px) {

}

/* medium desktop (up to 1200px) */
@media (max-width: 1200px) {}

/* small laptop (up to 992px) */
@media (max-width: 992px) {
  .hero {
    flex-direction: column;
  }
}

/* tablet (up to 768px) */
@media (max-width: 768px) {}

/* mobile (up to 480px) */
@media (max-width: 480px) {}