.section-about {
  padding: 60px 0;
  .heading {
    text-align: left;
    max-width: 930px;
    width: 100%;
  }
}

.about {
  display: flex;
  align-items: center;
  gap: 90px;
  &__photo {
    max-width: 500px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  &__skills {
    margin-top: 15px;
  }
  &__skills-item {
    span {
      font-size: 24px;
      font-weight: 600;
    }
  }
}

// ------------------------------------------------ //

/* large desktop (up to 1400px) */
@media (max-width: 1400px) {}

/* medium desktop (up to 1200px) */
@media (max-width: 1200px) {}

/* small laptop (up to 992px) */
@media (max-width: 992px) {
  .about {
    flex-direction: column-reverse;
  }
  .section-about .heading {
    text-align: center;
    max-width: unset;
    width: 80%;
  }
}

/* tablet (up to 768px) */
@media (max-width: 768px) {
  .about {
    gap: 70px;
  }
  .about__skills-item span {
    font-size: 18px;
  }
  .about__photo {
    max-width: 300px;
  }
  .section-about .heading {
    max-width: 450px;
    width: 100%;
  }
}

/* mobile (up to 480px) */
@media (max-width: 480px) {}