.header {
  padding: 60px 0 20px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.scroll {
    z-index: 2;
    background: var(--bg-color);
    top: -40px;
    box-shadow: 0 4px 20px rgba(30, 30, 30, 0.15);  
  }
}