.footer {
  &__wrap {
    background: var(--bg-card);
    padding: 110px 0 60px;
  }
  &__inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
  }
  &__copy {
    background: #545454;
    color: #FFF;
    padding: 26px 0;
    text-align: center;
  }
}