button {    
  padding: 8px 16px;
  border-radius: 8px;
  svg {
    color: #FD6F00;
    display: block;
  }
}

/* medium desktop (up to 1200px) */
@media (max-width: 992px) {
  .theme-toggle {
    margin-left: auto;
    margin-right: 20px;
  }
}