@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Poppins-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Poppins-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Poppins-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg'); /* Legacy iOS */
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Poppins-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Poppins-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Poppins-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg'); /* Legacy iOS */
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Poppins-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Poppins-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Poppins-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'); /* Legacy iOS */
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Poppins-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Poppins-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Poppins-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg'); /* Legacy iOS */
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'); /* Legacy iOS */
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'); /* Legacy iOS */
  font-weight: 700;
}