@use 'normalize.css';
@use 'fonts.scss';


// ---------------------------------------------------------------------- //

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

a, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

input, input:focus, button, button:focus {
  outline: none;
  background: transparent;
}

div, p, form, input, a, span, button, textarea {
	box-sizing: border-box;
}

p {
  margin: 0;
}

a, a:hover, button, button:hover {
  transition: all 0.3s ease;
  outline: none;
}

svg {
  fill: currentColor;
}

label {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

// ---------------------------------------------------------------------- //

:root {
  --bg-color: #fff;
  --text-color: #000;
  --bg-card: #F8F8F8;
}

.dark {
  --bg-color: #1E1E1E;
  --text-color: #fff;
  --bg-card: #3a3a3a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 21px;
  letter-spacing: 0.05em;
}

p {
  line-height: 1.55em;
}

.container {
  max-width: 1450px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.nav {
  ul {
    display: flex;
    gap: 12px;
    a {
      padding: 10px 14px;
    }
  }
}
.btn {
  background: #FD6F00;
  border-radius: 12px;
  padding: 14px 18px;
  color: #fff;
  letter-spacing: 0.05em;
  &:hover {
    opacity: .8;
    color: #fff;
  }
}
.social {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 35px;
  a {
    display: block;
    &:hover {
      transform: translateY(-5px);
    }
    svg {
      display: block;
      color: #FD6F00;
    }
  }
}

h1 {
  font-size: 100px;
  span {
    display: block;
    text-align: right;
  }
}

h2 {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 15px;
}

.logo {
  font-weight: 700;
  font-size: 32px;
  color: #FD6F00;
}

.heading {
  text-align: center;
  max-width: 930px;
  margin: 0 auto;
}

// ---------------------------------------------------------------------------//

// section hero 

.section-hero {
  padding: 60px 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__info {
    max-width: 720px;
    p {
      margin-bottom: 22px;
    }
  }
  &__head {
    margin-bottom: 28px;
  }
  &__name {
    font-weight: 600;
    span {
      display: block;
      font-weight: 600;
      color: #FD6F00;
      margin-top: 6px;
    }
  }
  &__img {
    max-width: 500px;
    width: 100%;
    display: block;
  }
  &__btn {
    max-width: 188px;
    width: 100%;
  }
}

.section-about {
  .heading {
    text-align: left;
  }
}

.about {
  display: flex;
  align-items: center;
  gap: 90px;
  &__skills {
    margin-top: 15px;
  }
  &__skills-item {
    span {
      font-size: 24px;
      font-weight: 600;
    }
  }
}


.section-services {
  padding: 140px 0;
}

.services {
&__wrap {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
&__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 15px;
  background: var(--bg-card);
  border-radius: 14px;
  padding: 50px 20px;
  b {
    font-size: 32px;
    margin-top: 10px;
  }
  p {
    font-size: 19px;
  }
}
}

.projects {
  margin-top: 60px;
}


.section-testimonials {
  padding: 140px 0;
  .heading {
    margin: 0 auto 110px;
  }
}

.testimonials {
  &__slide {
    display: flex;
    align-items: center;
    gap: 11px;
    background: var(--bg-card);
    padding: 55px 75px 55px 50px;
    border-radius: 14px;
  }
  &__info {
    padding-left: 29px;
    p {
      position: relative;
      font-size: 21px;
      &::before, &::after {
        content: '“';
        position: absolute;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 32px;
        color: #FD6F00;
      }
      &::before {
        left: -20px;
        top: -20px;
      }
      &::after {
        bottom: -20px;
      }
    }
    b {
      display: block;
      font-size: 24px;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      margin: 20px 0 5px;
    }
  }
}

.section-form {
  padding-bottom: 140px;
}

.form {
  max-width: 875px;
  width: 100%;
  margin: 60px auto 0;
  display: flex;
  gap: 25px;
  input {
    width: 100%;
    border-radius: 12px;
    outline: none;
    border: 1px solid #AFAFAF;
    padding: 22px 26px;
    background: #F8F8F8;
  }
  button {
    max-width: 222px;
    width: 100%;
  }
}





  
























  


  


  
  