@use 'normalize.css';
@use 'fonts.scss';


// ---------------------------------------------------------------------- //

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

a, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

input, input:focus, button {
  outline: none;
  background: transparent;
}

div, p, form, input, a, span, button, textarea {
	box-sizing: border-box;
}

p {
  margin: 0;
}

a, a:hover, button, button:hover {
  transition: all 0.3s ease;
  outline: none;
}

svg {
  fill: currentColor;
}

label {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

// ---------------------------------------------------------------------- //

:root {
  --bg-color: #fff;
  --text-color: #000;
  --bg-card: #F8F8F8;
}

.dark {
  --bg-color: #1E1E1E;
  --text-color: #fff;
  --bg-card: #3a3a3a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.3rem);
  letter-spacing: 0.05em;
  padding-top: 172px;
}

p {
  line-height: 1.55em;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.3rem);
}

.container {
  max-width: 1450px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.nav {
  ul {
    display: flex;
    gap: 12px;
    a {
      padding: 10px 14px;
    }
  }
}
.btn {
  background: #FD6F00;
  border-radius: 12px;
  padding: 14px 18px;
  color: #fff;
  letter-spacing: 0.05em;
  &:hover {
    opacity: .8;
    color: #fff;
  }
}

h1 {
  // font-size: 100px;
  font-size: clamp(2.5rem, 6vw + 1rem, 6.25rem);
  line-height: 1.2em;
  span {
    display: block;
    text-align: right;
  }
}

h2 {
  font-size: 65px;
  font-size: clamp(2rem, 4vw + 1rem, 4rem);
  font-weight: 600;
  margin-bottom: 15px;
}

.logo {
  font-weight: 700;
  font-size: 32px;
  color: #FD6F00;
}

.heading {
  text-align: center;
  // max-width: 930px;
  width: 80%;
  margin: 0 auto;
}  

// ------------------------------------------------ //

/* large desktop (up to 1400px) */
@media (max-width: 1400px) {
  body {
    padding-top: 92px;
  }
  .nav {
    font-size: 16px;
  }
  .nav ul {
    gap: 10px;
  }
}

/* medium desktop (up to 1200px) */
@media (max-width: 1200px) {
  .nav {
    font-size: 14px;
  }
  .nav ul {
    gap: 6px;
  }
}

/* small laptop (up to 992px) */
@media (max-width: 992px) {
  h1 {
    max-width: 70%;
  }
}

/* tablet (up to 768px) */
@media (max-width: 768px) {}

/* mobile (up to 480px) */
@media (max-width: 480px) {}

